<div class="justCenter">
  <main>
    <section class="sections-container">
      <div class="headings-container">
        <h1 class="headings">Pomodoro</h1>
        <div class="proc-headings">
          <small>Work smarter not harder</small>
        </div>
      </div>
      <p class="myLabel">Productivity tool!✍️</p>

      <div class="center-container">
        <div class="button-container-valus">
          <span class="container-label"> Sessions:</span>
          <button
            class="btns"
            *ngFor="let btn of buttonValues"
            id="{{ btn }}"
            (click)="handleOption($event)"
            [ngClass]="{ btnsSelected: isTimeSelected && selectedTime == btn }"
            [disabled]="isTimerRunning"
            [class.disabled]="isTimerRunning == false"
          >
            {{ btn }} min.
          </button>
          <!--  TODO: CUSTOM TIMER -->
          <input
            id="userInput"
            name="userInput"
            type="number"
            min="0"
            max="999"
            [(ngModel)]="userInput"
            placeholder="CUSTOM"
            (ngModelChange)="handleCustomTimer($event)"
            (click)="handleCustomTimerClick($event)"
            class="work"
            [disabled]="isTimerRunning"
            [class.disabled]="isTimerRunning == false"
          />
        </div>
        <div class="image-container">
          <img [src]="mainImage" alt="tomato-timer" />
          <h1 [style.color]="myColor" class="timer" [@popOverState]="stateName">
            {{ isTimeSelected ? selectedTime + " min." : mainTimer }}
          </h1>
          <section class="dots-container-control" *ngIf="isTimerRunning">
            <div class="lazyDot"></div>
            <div class="lazyDot"></div>
            <div class="lazyDot"></div>
            <div class="lazyDot"></div>
            <div class="lazyDot"></div>
          </section>
          <h1 class="timer" [@popOverState]="stateName">{{ status }}</h1>
        </div>
        <div class="button-container-valus">
          <span class="container-label"> Breaks:</span>
          <button
            class="btns"
            *ngFor="let btn of buttonBreaks"
            id="{{ btn }}"
            (click)="handleOption($event)"
            [ngClass]="{ btnsSelected: isTimeSelected && selectedTime == btn }"
            [disabled]="isTimerRunning"
            [class.disabled]="isTimerRunning == false"
          >
            {{ btn }} min.
          </button>
          <!--  TODO: CUSTOM TIMER -->
          <input
            id="userInput"
            name="userInput"
            type="number"
            min="0"
            max="999"
            [(ngModel)]="userInput"
            placeholder="CUSTOM"
            (ngModelChange)="handleCustomTimer($event)"
            (click)="handleCustomTimerClick($event)"
            class="break"
            [disabled]="isTimerRunning"
            [class.disabled]="isTimerRunning == false"
          />
        </div>
      </div>
      <button
        (click)="handleStart($event)"
        id="myID"
        class="btn-start button-29"
        [disabled]="isTimeSelected == false ? true : false"
        [class.disabled]="isTimeSelected == false"
      >
        {{ startNew_round ? "RESTART" : "START" }}
      </button>
    </section>
  </main>
  <!-- <p>Option selected: {{ debugValues | json }}</p>
  <h1 [@popOverState]="stateName">Debug timer: {{ mainTimer }}</h1> -->
</div>
